@media screen and (min-width: 961px) {
    .wrapper__sidebar {
        width:calc(calc(1 - .65) * 100%);
        padding: 0
    }
}

@media screen and (min-width: 1921px) {
    .wrapper__sidebar {
        width:calc(calc(1 - .65) * 80%)
    }
}

@media screen and (min-width: 961px) {
    .wrapper__main {
        width:calc(.65 * 100%)
    }
}

@media screen and (min-width: 1921px) {
    .wrapper__main {
        width:calc(.65 * 80%)
    }
}